In [21]:
from newspaper import Article
import random
import string
import nltk
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split, GridSearchCV

In [8]:
cheese = pd.read_json('../json_data/Cheese_data.json')
cheese.head()
# cheese.tail()

,tag,text,description,url
0,Cheese,Omnivores and ovo-lacto vegetarians alike ofte...,lesson,https://veganbootcamp.org/course-progress/599/...
1,Cheese,"Luckily, quitting cheese is not nearly as daun...",lesson,https://veganbootcamp.org/course-progress/599/...
2,Cheese,When we keep the cruelty of the dairy industry...,lesson,https://veganbootcamp.org/course-progress/599/...
3,Cheese,The adverse health effects of dairy-based food...,lesson,https://veganbootcamp.org/course-progress/600/...
4,Cheese,"One such study is the 2014 study ""Milk intake ...",lesson,https://veganbootcamp.org/course-progress/600/...

In [13]:
dairy = pd.read_json('../json_data/Dairy_Milk_data.json')
dairy.shape

(97, 4)

In [31]:
fish = pd.read_json('../json_data/Fish_data.json')
fish.shape

(43, 4)

In [12]:
ch_dairy = cheese.append(dairy)
ch_dairy.tail()
ch_dairy.shape

(124, 4)

In [32]:
cdf = ch_dairy.append(fish)

In [ ]:
def

In [14]:
ch_dairy['label'] = (ch_dairy['tag'] == 'Cheese').astype(int)
ch_dairy.tail()

,tag,text,description,url,label
92,Dairy Milk,Almond milk requires more water to produce tha...,lesson,https://veganbootcamp.org/course-progress/502/...,0
93,Dairy Milk,People tend to underestimate the greenhouse ga...,lesson,https://veganbootcamp.org/course-progress/502/...,0
94,Dairy Milk,"However, this information spurs more questions...",lesson,https://veganbootcamp.org/course-progress/502/...,0
95,Dairy Milk,Find more cute videos and gif's of happy cows ...,lesson,https://veganbootcamp.org/course-progress/704/...,0
96,Dairy Milk,Learn more about Erin Janus by clicking here!,lesson,https://veganbootcamp.org/course-progress/703/...,0

In [16]:
X = ch_dairy['text']
y = ch_dairy['label']

In [17]:
y.value_counts(normalize=True)

0    0.782258
1    0.217742
Name: label, dtype: float64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=42)

In [24]:
cvec = CountVectorizer(stop_words='english')
Xcv_train = cvec.fit_transform(X_train)
Xcv_test = cvec.transform(X_test)

In [30]:
cvec.get_feature_names()[45:55]

['addition',
 'adds',
 'adolescents',
 'adrian',
 'adult',
 'adults',
 'adverse',
 'aerial',
 'aetiological',
 'affect']

In [26]:
mnb = MultinomialNB()

In [27]:
mnb.fit(Xcv_train, y_train)

MultinomialNB()

In [28]:
mnb.score(Xcv_train, y_train), mnb.score(Xcv_test, y_test)

(0.989247311827957, 0.9354838709677419)